# Archivos de compilación
target/
build/

# Dependencias de Maven/Gradle
.mvn/
.gradle/
!mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log
hs_err_pid*

# Variables de entorno y configuración sensible
*.env
application*.yml
application*.properties

# Archivos temporales
*.swp
*.swo
